<footer>
    <div class="footer__container container">
        <ul class="footer__container__list">
            <li></li>
            <li class="footer__container__item">
                <p>&#169; 2023 All Rights Reserved |</p>
            </li>
            <li class="footer__container__item"> Developed with
                <svg class="footer__container__item--svg" width="14" height="13">
                    <use href="./images/film.svg#icon_heart"></use>
                </svg>
            <li class="footer__container__item">
                <span class="footer__container__item--student">by GoIT Student</span>
            </li>
            <li></li>
        </ul>
    </div>
</footer>