.library__container {
  @include flex-center;
  flex-direction: column;
  line-height: 2;
  text-transform: uppercase;
  color: var(--hover-color);
  font-size: 9px;
  margin: 15px 0 30px 0;
  &--titlu {
    @include center-text;
    font-weight: 400;
  }
  &--msg {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: var(--dark-color);
    padding-bottom: 10px;
  }
}
.dark {
  .library__container {
    color: rgb(17, 133, 200);
    &--msg {
      color: beige;
    }
  }
}
#savedMoviesList,
#queueMoviesList {
  @include flex-center;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .library__container {
    margin: 50px 0 30px 0;
    &.hidden {
      display: none;
    }
    &--titlu {
      font-weight: 700;
    }
    &--msg {
      font-size: 18px;
      font-weight: 500;
      padding-bottom: 15px;
    }
  }
  #savedMoviesList,
  #queueMoviesList {
    @include flex-center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  .save-movie__item {
    flex-basis: calc((100% / 3) - 60px);
  }
}
.dark {
  .library__container {
    color: rgb(17, 133, 200);
    &--msg {
      color: beige;
    }
  }
}
@media (min-width: 1200px) {
  .library__container {
    &--titlu {
      font-weight: 700;
      font-size: 22px;
    }
    &--msg {
      font-size: 32px;
      font-weight: 500;
      padding-bottom: 15px;
    }
  }
}
