.movie {
  padding: 40px; 
  &__container {
    margin: 0 auto;
    max-width: var(--width-max);
    justify-content: center;
    align-items: center;
  }
  &__gallery {
    width: var(--width-max);
    @include flex-center;
    flex-wrap: wrap;
    gap: 30px;
    &__items {
      position: relative;
      width: 280px;
      height: 550px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      background-color: var(--main-color);
      box-shadow: 0px 1px 3px rgba(102, 51, 153, 0.12),
        0px 1px 1px rgba(102, 51, 153, 0.14),
        0px 2px 1px rgba(102, 51, 153, 0.2);
      border-radius: 10px;
      padding: 10px;
      transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      &:hover {
        transform: translateY(-5px);
      }
    }
    &__vote {
      position: absolute;
      top: 30px;
      right: 25px;
      background-color: rgba(0, 0, 0, 0.7);
      border: 1px solid var(--gray-color);
      padding: 7px;
      border-radius: 30px;
      font-size: 14px;
      font-weight: 700;
    }
    &__details {
      @include flex-center;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 10px;
      color: var(--dark-color);
      &--img img {
        max-width: var(--width-max);
        height: 400px;
        object-fit: cover;
        padding-top: 10px;
      }
      &--title {
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        @include center-text;
        padding-top: 15px;
      }
      &--genres {
        font-size: 14px;
        color: var(--hover-color);
        justify-content: center;
        text-align: center;
        padding-left: 15px;
        font-weight: 700;
      }
      &--year {
        font-size: 14px;
        color: var(--dark-color);
        font-weight: 500;
      }
    }
  }
  &__popular {
    @include row;
    justify-content: center;
    gap: 20px;
    margin: 15px auto;
    font-size: 16px;
    &:hover {
      border-color: var(--main-color);
    }
    &__items {
      background-color: var(--main-color);
      color: var(--hover-color);
      padding: 9px;
      border-radius: 12px;
      border: 1px solid var(--hover-color);
    }
  }
}
#pagination {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  & .tui-page-btn {
    width: 30px;
    color: var(--hover-color);
    font-weight: 700;
    border: 1px solid var(--gray-color);
  }
  & .tui-page-btn.tui-is-selected {
    color: var(--main-color);
    background-color: var(--hover-color);
    border: none;
  }
}
@media (min-width: 768px) {
  .movie {
    padding: 20px;
    &__container {
      width: 768px;
    }
    &__gallery {
      &__items {
        height: 560px;
      }
      &__details {
        &--img img {
          padding-top: 0;
        }
        &--title {
          font-size: 18px;
        }
        &--genres {
          font-size: 16px;
        }
        &--year {
          font-size: 15px;
        }
      }
    }
  }
  #pagination {
    gap: 15px;
    & .tui-page-btn {
      width: 40px;
      font-size: 14px;
    }
  }
}
@media (min-width: 1200px) {
  .movie {
    padding: 5px;
    &__container {
      width: 1200px;
    }
    &__gallery {
      margin-top: 30px;
      &__items {
        flex-basis: calc((100% / 3) - 60px);
        height: 565px;
        filter: grayscale(60%);
        transition: filter 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
          transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        &:hover {
          transform: translateY(-5px);
          filter: grayscale(0%);
        }
      }
      &__vote {
        top: 25px;
        right: 50px;
        font-size: 18px;
      }
      &__details {
        &--title {
          font-size: 18px;
        }
        &--genres {
          font-size: 16px;
        }
        &--year {
          font-size: 16px;
        }
      }
    }
    &__popular {
      justify-content: center;
      gap: 30px;
      margin: 30px auto;
      font-size: 20px;
      &__items {
        padding: 15px;
      }
    }
  }
  #pagination .tui-page-btn {
    width: 45px;
    height: 35px;
    font-size: 16px;
  }
}

.active {
  background-color: var(--hover-color);
  color: var(--main-color);
  border: 1px solid var(--main-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.red-vote {
  color: red;
}
.green-vote {
  color: rgb(51, 151, 51);
}