.footer__container {
  @include flex-center;
  width: var(--width-max);
  background-image: linear-gradient(to left, #d03e3a, #842623);
  border-radius: 15px;
  margin: 10px auto;
  max-width: 350px;
  height: 120px;
  &__list {
    flex-direction: column;
    @include flex-center;
    gap: 15px;
    color: var(--main-color);
    padding: 5px 10px;
  }
  &__item {
    &--svg {
      width: 17px;
      height: 17px;
    }
    &--student {
      font-size: 14px;
      font-weight: 700;
    }
  }
}

@media (min-width: 768px) {
  .footer__container { 
    display: flex;
    padding: 30px;
    max-width: 720px;
    height: 50px;
    &__list {
      flex-direction: row;
      @include flex-center;
      gap: 10px;
    }
    &__item {
      &--svg {
        width: 15px;
        height: 15px;
      }
      &--student {
        font-size: 12px;
      }
    }
  }
}
@media (min-width: 1200px) {
  .footer__container {  
    max-width: 1216px;
    height: 50px;
  }
}
#hiddenDiv {
  display: none;
}
